.App {

  width: 70%;
  margin: 4vh auto;
  font-size: 2.6vh;
}

img {
  width: 4vh;
  height: 4vh;
  
}

.issueBox span {
  color: green;
  padding: 0vh 2vh 0vh 1vh;
}

.issueBox {
  border: 0.7px solid grey;
  padding: 0vh
}

.label {
  padding: 0vh 2vh;
  width: fit-content;
  height:fit-content;
  margin-right: 1vh;
}

.labelBox {
  margin-top: 1vh;
  display: flex;
}

section.section.issueBox {
  padding: 1vh;
  margin: 1vh;
}

.bodyText {
  font-size: 1.4vh;;
  padding: 1vh 3vh;
}
